__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
downloads/
eggs/
.eggs/

.ipynb_checkpoints
one_notebook_to_rule_them_all.ipynb

*.pdf
*.html
*.txt
uncased_L-12_H-768_A-12/

.env
.secret

.vscode/
